<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="3.5.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.5.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.31.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.16.1" targetFramework="net452" />
</packages>